.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f0f0f0;
  color: rgb(66, 65, 65);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.backBtn:hover {
  background-color: rgb(236, 235, 235);
}
