.header {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Pushes the main items to the opposite ends */
  align-items: center; /* Vertically centers the items */
  padding: 0rem 0rem; /* Add some padding on the top, bottom, and sides */
  /* background-color: #ffffff; */
  /* border-bottom: 1px solid #e0e0e0; */
}

.header-logo a {
  display: flex;
  align-items: center;
}

.logo-svg {
  height: 7em; /* Adjust the logo size */
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Adds space between the search, profile, and cart */
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar i {
  position: absolute;
  left: 15px;
  height: 18px;
  color: #888;
}

.search-bar input {
  padding: 0.5rem 0rem 0.5rem 35px; /* Add left padding for the icon */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  width: 200px;
}

.user-profile,
.cart {
  cursor: pointer;
}

.user-profile i {
  /* height: 34px; */
  font-size: 1.3rem;
  padding-right: -0.5rem;
}

.cart i {
  /* height: 34px; */
  font-size: 1.3rem;
  padding-right: 1.2rem;
}
