.image-slider {
  position: relative;
  width: 100%;
  /* max-width: ; Adjust as needed */
  height: 60px; /* Adjust as needed */
  margin: 1rem auto;
  overflow: hidden;
  /* border-radius: 15px; */
}

.image-slider img {
  width: 100%;
  height: 100px;
  object-fit: cover; /* Ensures the image covers the entire area */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* opacity: 0; */
  transition: opacity 1s ease-in-out; /* Fade effect duration */
  padding: 0px 10px;
  /* border-radius: 15px; */
}

/* Animate the current image */
.fade-in-image {
  /* opacity: 1; */
}

.fade-in-image {
  /* animation: fadeInOut 9s infinite; */
  /* animation-name: fadeIn; */
}
