.productgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  padding: 24px;
}

.productinfosection {
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}
